{{- if gt (len site.Config.Services.Disqus.Shortname) 0 -}}
    {{- if or (eq .Params.comments true) (and (ne .Params.comments false) (eq site.Params.comments.enable true)) -}}
        <section class="article discussion">
            {{- template "_internal/disqus.html" . -}}
        </section>
    {{- end -}}
{{- end -}}

{{- if isset .Site.Params.comments "utterancesrepo" -}}
    {{- if $.Param "comments.enable" | default false -}}
        <section class="article discussion">
            <script>
                function loadComment() {
                    let s = document.createElement('script');
                    s.src = 'https://utteranc.es/client.js';
                    s.setAttribute('repo', '{{- .Site.Params.comments.utterancesRepo -}}');
                    s.setAttribute('issue-term', '{{- .Site.Params.comments.utterancesIssueTerm | default "pathname" -}}');
                    s.setAttribute('theme', 'preferred-color-scheme');
                    s.setAttribute('crossorigin', 'anonymous');
                    s.setAttribute('async', '');
                    document.querySelector('section.article.discussion').innerHTML = '';
                    document.querySelector('section.article.discussion').appendChild(s);
                }

                loadComment();
                if (window.matchMedia)
                    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {loadComment();});
            </script>
        </section>
    {{- end -}}
{{- end -}}